{% extends 'md_template/base_template.html' %}
{% block page_title %}
Manage Department Head
{% endblock page_title %}
{% block main_content %}
{% load static %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <a class="btn btn-primary" href="{% url 'add_department' %}" role="button">+ Add Department Head</a> <br/>&nbsp;
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Department Head Details</h3>
  
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <!-- <input type="text" name="table_search" class="form-control float-right" placeholder="Search"> -->
  
                      <div class="input-group-append">
                        <!-- <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button> -->

                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Last Login</th>
                        <th>Date Joined</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for departments in department %}
                      <tr>
                        <td>{{ departments.admin.id }}</td>
                        <td>{{ departments.admin.first_name }}</td>
                        <td>{{ departments.admin.last_name }}</td>
                        <td>{{ departments.admin.username }}</td>
                        <td>{{ departments.admin.email }}</td>
                        <td>{{ departments.address }}</td>
                        <td>{{ departments.admin.last_login }}</td>
                        <td>{{ departments.admin.date_joined }}</td>
                        <td><a href="/edit_department/{{ departments.admin.id }}" class="btn btn-success">Edit</a>
                          <form action="{% url 'delete_department' departments.admin.id %}" method="POST" onsubmit="window.ondelete()" style="display: inline;">
                            {% csrf_token %}
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
              
              
    </div>
            <!-- /.card -->

           
    </div>
  </section>
  <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script type="text/Javascript">
  window.ondelete= function(){
    var isValid =confirm('Are you sure Do you Want To Delete ?');
    if (!isValid){
      event.preventDefault();
      // alert("It Wont delete");
    }
  }
</script>
{% endblock custom_js %}