{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'dist/img/app.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'admin_profile' %}" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item">
                {% url 'admin_home' as admin_home %}
                <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                    Home
                   
                  </p>
                </a>
              </li>
          <!-- <li class="nav-item">
            {% url 'add_department' as add_department %}
            <a href="{{ add_department }}" class="nav-link {% if request.path == add_department %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Department
               
              </p>
            </a>
          </li> -->
          <li class="nav-item">
            {% url 'manage_department' as manage_department %}
            {% url 'edit_department' department_id=id as edit_department %}
            <a href="{{ manage_department }}" class="nav-link {% if request.path == manage_department %} active {% endif %} {% if request.path == edit_department %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Department
              </p>
            </a>
          </li>
          <!-- <li class="nav-item">
            {% url 'add_employee' as add_employee %}
            <a href="{{ add_employee }}" class="nav-link {% if request.path == add_employee %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Employee
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li> -->
          <li class="nav-item">
            {% url 'manage_employee' as manage_employee %}
            {% url 'edit_employees' employee_id=id as edit_employees %}
            <a href="{{ manage_employee }}" class="nav-link {% if request.path == manage_employee %} active {% endif %} {% if request.path == edit_employees %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Employee
              </p>
            </a>
          </li>
          <!-- <li class="nav-item">
            {% url 'add_departmentname' as add_departmentname %}
            <a href="{{ add_departmentname }}" class="nav-link {% if request.path == add_departmentname %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Department Name
              </p>
            </a>
          </li> -->
          <li class="nav-item">
            {% url 'manage_departmentname' as manage_departmentname %}
            {% url 'edit_departmentname' departmentname_id=id as edit_departmentname %}
            <a href="{{ manage_departmentname }}" class="nav-link {% if request.path == manage_departmentname %} active {% endif %} {% if request.path == edit_departmentname %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Department Name
              </p>
            </a>
          </li>
          <!-- <li class="nav-item">
            {% url 'add_project' as add_project %}
            <a href="{{ add_project }}" class="nav-link {% if request.path == add_project %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Add Project
              </p>
            </a>
          </li> -->
          <li class="nav-item">
            {% url 'manage_project' as manage_project %}
            {% url 'edit_project' project_id=id as edit_project %}
            <a href="{{ manage_project }}" class="nav-link {% if request.path == manage_project %} active {% endif %} {% if request.path == edit_project %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Project
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'manage_session' as manage_session %}
            <a href="{{ manage_session }}" class="nav-link {% if request.path == manage_session %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Manage Session
              </p>
            </a>
          </li>
          
          <li class="nav-item">
            {% url 'employee_feedback_message' as employee_feedback_message %}
            <a href="{{ employee_feedback_message }}" class="nav-link {% if request.path == employee_feedback_message %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Employee Feedback 
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'department_feedback_message' as department_feedback_message %}
            <a href="{{ department_feedback_message }}" class="nav-link {% if request.path == department_feedback_message %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Department Feedback
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'employee_leave_view' as employee_leave_view %}
            <a href="{{ employee_leave_view }}" class="nav-link {% if request.path == employee_leave_view %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Employee Leave
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'department_leave_view' as department_leave_view %}
            <a href="{{ department_leave_view }}" class="nav-link {% if request.path == department_leave_view %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Department Leave
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'admin_view_attendance' as admin_view_attendance %}
            <a href="{{ admin_view_attendance }}" class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                View Attendence
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>