{% extends 'department_template/base_template.html' %}
{% block page_title %}
View Update Attendance
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">View Update Attendance</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              
                <div class="card-body">
                 
                  <div class="form-group">
                    <label>Project</label>
                    <select  class="form-control" name="project" id="project" required>
                        {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.project_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Session Year</label>
                    <select  class="form-control" name="session_year_id" id="session_year_id" required>
                        {% for session_year in session_year_id %}
                        <option value="{{ session_year.id }}">{{ session_year.session_start_year }}  TO  {{ session_year.session_end_year }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-primary btn-block" id="fetch_attendance">Fetch Attendance</button>
                  </div>
                  <div class="form-group" id="attendance_block" style="display: none;">
                    <label>Attendance Date</label>
                    <select  class="form-control" name="attendence_date" id="attendence_date" required>
                        
                    </select>
                  </div>  
                  <div class="form-group">
                    <div class="alert alert-danger" id="error_attendance" style="display:none">

                    </div>
                  </div> 
                  <div class="form-group" id="fetch_employee_block" style="display:none;">
                    <button type="button" class="btn btn-primary btn-block" id="fetch_employee">Fetch Employee Data</button>
                  </div>
                
                <!-- /.card-body -->

                
                <div id="employee_data" class="card-footer">

                </div>
             
            </div>
            <!-- /.card -->

           
    </div>
  </section>
  <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
  $(document).ready(function(){

    $("#fetch_attendance").click(function(){
      var project=$("#project").val();
      var session_year=$("#session_year_id").val();
      $.ajax({
          url:"{% url 'get_attendance_dates' %}",
          type:'POST',
          data:{project:project,session_year_id:session_year},
        })
        .done(function(response){
          var json_data=JSON.parse(response);
          if(json_data.length>0)
          {
            var html_data="";
            for(key in json_data)
            {
              html_data+="<option value='"+json_data[key]["id"]+"'>"+json_data[key]["attendance_date"]+"</option>";
            }
            $("#error_attendance").html("");
            $("#error_attendance").hide();
            $("#attendance_block").show();
            $("#fetch_employee_block").show();
            $("#attendence_date").html(html_data);
          }
          else
          {
            $("#error_attendance").html("No Attendance Data Found");
            $("#error_attendance").show();
            $("#attendance_block").hide();
            $("#fetch_employee_block").hide();
            $("#attendence_date")="";
          }
        })
        .fail(function(){
          alert("Error in Fetching Attendance")
          $("#error_attendance").html("");
          $("#attendance_block").hide();
          // $("#attendence_date").hide();
          $("#fetch_employee_block").hide();
        });
        
       
    })
    $("#fetch_employee").click(function(){
      var attendence_date=$("#attendence_date").val()

      $.ajax({
        url:"{% url 'get_attendance_employee' %}",
        type:'POST',
        data:{attendence_date:attendence_date},
      })
      .done(function(response){
        var json_data=JSON.parse(response);
        console.log(json_data);
        var div_data="<div class='form-group'><label>Employee Attendance :</label></div><div class='form-group'><div class='row'>";
      
        for (key in json_data)
        {
          // console.log(status)
          div_data+="<div class='col-lg-3'><div class='form-check'><input type='checkbox' ";
          if(json_data[key]['status'])
          {
            div_data+="checked='checked'";
            
          }
          else
          {
            div_data+="";
          }
          div_data+="name='employee_data[]' value='"+ json_data[key]['id'] +"' />  <label class='form-check-label'>"+ json_data[key]['name']+" </label>";
          if(json_data[key]['status'])
          {
            div_data+="<b> [  Present  ]</b>";
          }
          else
          {
            div_data+="<b>[  Absent  ]</b>";
          }
          
          
         div_data+="</div></div>";
        }
        div_data+="</div></div>";
        div_data+="<div class='form-group'>";
        div_data+="<button id='save_attendance' class='btn btn-success' type='button'>Save Attendance Data</button> ";
        div_data+="</div>";
        $("#employee_data").html(div_data);
      })
      .fail(function(){
        alert("Error in Fetching Employee")
      })
    })
    $(document).on("click","#save_attendance",function(){

        $(this).attr("disabled","disabled")
        $(this).text("Saving Attendence Data..")

        var employee_data=$("input[name='employee_data[]']").map(function(){ 
          if($(this).is(":checked")){
            return {"id": $(this).val(),"status":1};
          } 
          else{
            return {"id": $(this).val(),"status":0};
          }
        }).get()
        var attendence_date=$("#attendence_date").val();
        
        employee_data=JSON.stringify(employee_data)



        $.ajax({
          url:"{% url 'save_updateattendance_data' %}",
          type:'POST',
          data:{employee_ids:employee_data,attendence_date:attendence_date},
        })
        .done(function(response){

          if (response=="OK"){
            alert("Attendance Save")
          }
          else{
            alert("Error in Saving Data")
          }
          location.reload()
        })
        .fail(function(){
          alert("Error in Saving Employee")
        })
      })
    })

</script>
{% endblock custom_js %}
